<br>
<h2>Add a New Place</h2>
<div class="row col-md-8 col-md-offset-0.0">
<form class="form-horizontal" action="/places/create/">
<label>Title:</label>
<input class="form-control" type="text" name="title">
<br>
<label>Photo URL:</label>
<input class="form-control" type="text" name="photo_url">
<br>
<label>Price:</label>
<input class="form-control" type="text" name="admission_price">
<br>
<label>Description:</label>
<input class="form-control" type="text" name="description">
<br>

<button class="form-control">Submit</button>
</form>
</div>